<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


<body>

	<header class="header">
		<%- include('partials/nav.ejs') %>
	</header>

	<main>
		<section class="content">
			<div class="container">

				<div class="posts">
					<button data-id="<%= post.id %>">Delete</button>
					<a href="/edit/<%= post.id %>">Edit</a>
					<div class="posts__box">
						<p class="posts__date"><%= post.createdAt.toLocaleDateString() %></p>
						<p class="posts__date"><%= post.author %></p>
					</div>

					<h1 class="posts__title"><a class="posts__link" href="#"><%= post.title %></a></h1>
					<p class="posts__text"><%= post.text %></p>
				</div>
			</div>
		</section>
	</main>

			<script>
			document.addEventListener('click', (e) => {
				const id = e.target?.dataset?.id || null

				if(id){
					fetch(`/posts/${id}` , {
						method: 'DELETE',
					}).then(() => {
						window.location.href = '/posts'
					})
				}
			})
		</script>
</body>

</html>